h1{
  margin:0;
}

nav{
  height:50px;
  display:flex;
  justify-content: space-between;
  padding:10px 20px 0px 20px;
  
}
nav a{
  font-family: "Comfortaa",cursive;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: rgb(99,85,34);
  background: radial-gradient(circle, rgba(99,85,34,1) 0%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.slider{
  max-width: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:flex;
  justify-content: center;
  animation: fadeIn 1s;
  margin:auto;
}

.card audio{
  max-width: 90%;
  height:40px;
}

.card div{
  margin: 10px 0
}

.heading{
  margin: 50px;
  font-family: 'Comfortaa', cursive;
}

.slider .title a{
  text-decoration: none;
  color:white;
  text-shadow:#1b1b27 3px 2px 2px;
}
.slider .card{
  max-width:250px;
  padding: 0 0 20px 0;
  font-size: 70%;
  flex: 1;
  margin: 0 1%;
  background-color: rgba(5, 5, 8, 0.4);
  box-shadow: rgba(5, 5, 8, 0.4) 3px 3px 4px;
}

.slider .card .card-img{
  margin-top:0;
}
.slider .card img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.card .subtitle{
  color:rgb(145, 145, 145);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

