.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.slider{
  max-width: 1000px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.card audio{
  max-width: 90%;
  height:40px;
}

.card div{
  margin: 10px 0
}
.slider .title a{
  text-decoration: none;
  color:white;
}
.slider .card{
  max-width:300px;
  padding: 20px 0px;
  border:solid red 2px;
  font-size: 70%;
}

.slider .card img{
  height:200px;
}

.card .subtitle{
  color:rgb(145, 145, 145);
}